@import "../../vars.css";

.container {
  padding: var(--ms-xlarge) var(--ms);

  @media (--medium) {
    padding-bottom: var(--ms-xxlarge);
    padding-top: var(--ms-xxlarge);
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.text {
  line-height: var(--lh-wide);

  & * {
    @media (--medium) {
      font-size: var(--ms-medium);
    }
  }

  & p {
    margin-bottom: var(--ms-large);

    @media (--medium) {
      margin-bottom: var(--ms-xlarge)
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
