@import '../../vars.css';

.container {
  margin-bottom: var(--ms-xlarge);
  padding: 0 var(--ms);

  @media (--medium) {
    margin-bottom: var(--ms-xxlarge);
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.code {
  & pre {
    padding: var(--ms-medium) !important;

    @media (--medium) {
      padding: var(--ms-xlarge) !important;
    }
  }
}
