@import '../../vars.css';

.container {
  padding: 0 var(--ms);
  margin-bottom: var(--ms-xlarge);

  @media (--medium) {
    margin-bottom: var(--ms-xxlarge);
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.display-title {
  font-size: var(--ms-large);
  font-weight: 600;
  line-height: var(--lh-tight);

  @media (--medium) {
    font-size: var(--ms-xlarge);
  }
}

.subtitle {
  font-weight: 500;
  margin-top: var(--ms-small);

  @media (--medium) {
    font-size: var(--ms-medium);
  }
}

.published-date {
  color: var(--c-gray);
  display: block;
  margin-top: var(--ms-small);
}
