@import '../../vars.css';

.container {
  padding: 0 var(--ms);
}

.display-title {
  font-size: var(--ms-xxlarge);
  font-weight: 600;
  line-height: var(--lh-tight);
}

.published-date {
  color: var(--c-gray);
  display: block;
  font-size: var(--ms-medium);
  margin-top: var(--ms-xsmall);
}
