@import '../../vars.css';

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: var(--ms) var(--ms) 0;
  line-height: 1;

  @media (--medium) {
    padding: var(--ms-xlarge);
  }
}

.home-link {
  &:hover {
    & .title {
      text-decoration: underline;
    }
  }
}

.title {
  font-size: var(--ms-large);
  font-weight: 600;
  margin-bottom: var(--ms-xxxsmall);
}

.description {
  font-size: var(--ms-small);
}
