@import '../../vars.css';

.container {
  padding: var(--ms);
}

.title {
  font-family: var(--f-secondary);
  font-size: var(--ms-large);
  display: inline-block;
  line-height: 1;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
}
