@import '../../vars.css';

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: var(--ms);
  line-height: 1;

  @media (--medium) {
    padding: var(--ms-xlarge);
  }
}

.title {
  font-size: var(--ms-large);
  font-weight: 600;
  margin-bottom: var(--ms-xxxsmall);
}

.description {
  font-size: var(--ms-small);
}
