@import '../../vars.css';

.container {
  margin-bottom: var(--ms-xlarge);

  @media (--medium) {
    margin-bottom: var(--ms-xxlarge);
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.image {
  width: 100%;
}

.caption {
  color: var(--c-gray);
  line-height: var(--lh-wide);
  margin-top: var(--ms);
  padding: 0 var(--ms);
  text-align: center;

  & * {
    font-size: var(--ms-small);
  }
}
