:root {
  /* Colors */
  --c-black: #000;
  --c-white: #fff;

  /* Font Families */
  --f-primary:   Roboto, sans-serif;
  --f-secondary: 'Abril Fatface', serif;

  /* Line Heights */
  --lh-tight: 1.2;
  --lh:       1.45;
  --lh-wide:  1.75;
  --lh-xwide: 2;

  /* Modular Scale */
  --ms--ratio:   1.414; /* augmented fourth */
  --ms-xxxsmall: calc(1rem * var(--ms--ratio) ^ -3);
  --ms-xxsmall:  calc(1rem * var(--ms--ratio) ^ -2);
  --ms-xsmall:   calc(1rem * var(--ms--ratio) ^ -1);
  --ms-small:    calc(1rem * var(--ms--ratio) ^ -0.5);
  --ms:          calc(1rem * var(--ms--ratio) ^ 0);
  --ms-medium:   calc(1rem * var(--ms--ratio) ^ 0.5);
  --ms-large:    calc(1rem * var(--ms--ratio) ^ 1);
  --ms-xlarge:   calc(1rem * var(--ms--ratio) ^ 2);
  --ms-xxlarge:  calc(1rem * var(--ms--ratio) ^ 3);

  /* Transitions */
  --t: 200ms;

  /* Media Sizes */
  --q-xsmall:  400px;
  --q-small:   500px;
  --q-medium:  700px;
  --q-large:   900px;
  --q-xlarge:  1100px;
  --q-xxlarge: 1600px;
}

@custom-media --xsmall  (min-width: 400px);
@custom-media --small   (min-width: 500px);
@custom-media --medium  (min-width: 700px);
@custom-media --large   (min-width: 900px);
@custom-media --xlarge  (min-width: 1100px);
@custom-media --xxlarge (min-width: 1600px);
