@import '../../vars.css';

.container {
  margin: 0 auto;
  width: 100%;

  &--xsmall {
    @media (--xsmall) {
      max-width: var(--q-xsmall);
    }
  }

  &--small {
    @media (--small) {
      max-width: var(--q-small);
    }
  }

  &--medium {
    @media (--medium) {
      max-width: var(--q-medium);
    }
  }

  &--large {
    @media (--large) {
      max-width: var(--q-large);
    }
  }

  &--xlarge {
    @media (--xlarge) {
      max-width: var(--q-xlarge);
    }
  }

  &--xxlarge {
    @media (--xxlarge) {
      max-width: var(--q-xxlarge);
    }
  }
}
